.btn{
    border-radius: 12px;
    font-size: 32px;
    background-color: #242443;
    color:#88dded;
    padding:3px;

    height: 80px; 
    width: 600px;
}
.main {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;
    width: 100%;

    background-color:beige;
}
